#title {
background-color : #ff4c68;

}
body{
font-family: 'Ubuntu', sans-serif;
}

h1{
font-family: 'Ubuntu', sans-serif;
font-weight: 950;
font-size: 3.5rem;
line-height: 1.5;
color: #fff;
}

.container-fluid{
padding : 3% 15% 7% ;
}

.navbar{
padding: 0 0 4.5rem;
}

.navbar-brand{
font-size: 3rem;
font-weight: 400;

}

.nav-item {
padding: 0 18px;
}

.download-button{
margin: 5% 3% 5% 0;
}



.iphone{
transform: rotate(25deg);
width:55%;
right: 30%;

position: absolute;


}

#features{
padding: 7% 15%;
text-align: center;
background-color: white;
z-index: 1;
position: relative;
}

h3{
font-weight: 700;
}

p{
color: #8f8f8f;
}

.icon{
color: #ef8172;
margin-bottom: 1.5rem;
}

.icon:hover{
color: #ff4c68;
}

#testimonials {
padding: 7% 15%;
text-align: center;
background-color: #ef8172;
color: #fff;
font-weight: bold;
font-height: 1.5;
}

.doggo{
border-radius : 100%;
}

#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}

#pricing{
padding: 80px;
text-align: center;
}

.price{
padding: 3% 2%;
}

@media (max-width: 1028px){

#title{
text-align: center;
}

.iphone{
position : static;
transform: rotate(0);
}
}

#cta{
background-color : #ff4c68;
font-family: 'Ubuntu', sans-serif;
text-align: center;
font-size: 3.5rem;
color: white;
padding: 100px 0 50px 0;

}

#footer{
padding: 20px 0 0 0;
text-align: center;
}

.con{
padding: 15px;
}